@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
}

section#inicio {
    background-color: #f9f9f9;
}

section#contato, section#projetos {
    background-color: #f1f1f1;
}

h1, h2 {
    color: #333;
}

/* Estilo atualizado para a tag <p> */
p {
    font-size: 120%; /* Aumenta o tamanho da fonte em 20% */
    line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
    margin-bottom: 1.5rem; /* Ajusta a margem inferior */
}